<!DOCTYPE html>
{% load static %}
<html lang="es" ng-app="inventarioApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremax-Vendedor</title>
    <link rel="stylesheet" href="{% static 'css/equipos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body ng-controller="inventarioController">
    <header>
        <nav id="cssmenu">
            <ul>
                <li>
                    <a href="javascript:void(0);">Inventario <i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'Vendedor' %}">Ver inventario actual</a></li>
                        <li><a href="{% url 'mostrarcategoria' %}">Añadir Producto</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'mostrarnuevotrabajador' %}">Nuevo Trabajador</a></li>
                
                <li><a href="{% url 'finsesion' %}">Cerrar Sesion</a></li>

            </ul>
        </nav>
    </header>

    <div class="container-fluid">

            <div class="col-xs-12 col-sm-6">
                <h1>Inventario actual</h1>
                <div class="container">
                    <div class="body-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel z-depth-1">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table id="dataTable" class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Articulo</th>   
                                                                <th>Precio</th>                                                          
                                                                <th>Descripción</th>
                                                                <th>Categoría</th>
                                                                <th>Cantidad disponible</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for producto in productos %}
                                                            <tr>
                                                                <td>{{ producto.nombre_prod }}</td>
                                                                <td>{{ producto.precio }}</td>
                                                                <td>{{ producto.descripcion }}</td>
                                                                <td>{{ producto.id_categoria.nombre_categoria }}</td>
                                                                <td>{{ producto.stock }}</td>
                                                                <td>
                                                                    <button class="btn btn-default">
                                                                        <a href="{% url 'mostrarproducto' producto.id_prod %}">Modificar</a>
                                                                    </button>
                                                                    <button class="btn btn-danger">
                                                                        <a href="{% url 'eliminarproducto' producto.id_prod %}">Eliminar</a>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="{% static 'js/inventario.js' %}"></script>
    
</body>
</html>
